{% extends '../../layout.html' %}

{% block body %}

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
    <td class="content-block">
        <div>
            <img style="width: 25%;" src="http://s3.amazonaws.com/dentalman_uploads/hq-email-sig-logo.png" />
        </div>
    </td>
</tr>
<tr>
    <td class="content-block title">
        <h2>Thank you for Registering at DentalHQ!</h2>
    </td>
</tr>

<tr>
    <td class="content-block content">
        <p>
            Thank you for registering with DentalHQ.
            Your signup form is complete and has been submitted to the DentalHQ team to
            begin preparing your custom marketing materials and to finalize your membership.
            After your account manager has reviewed and activated your account you will receive
            an activation email with login instructions.
        </p>
        <p>Sincerely,</p>
        <p>DentalHQ</p>
    </td>
</tr>

</table>
{% endblock %}

