{% extends '../layout.html' %}

{% block body %}

<table width="100%" cellpadding="0" cellspacing="0">

<tr>
  <td class="content-block title">
    Hello DentalHQ,
  </td>
</tr>


<tr>
    <td class="content-block title">
        <h2>[{{ name }} - {{ email }}] contacted you through the Contact Form on the [Dentist Learn More] page at [{{ time }}]. Here's what they said:</h2>
    </td>
</tr>


<tr>
    <td class="content-block content" style="font-style:italic;white-space:pre-line;">
      ----------
      <br><br>
      [Contact Form Message]
      <br><br>
      ----------
      <br><br>

      "{{ message }}"

      <br><br>

      P.S. This was an automated email sent by the DentalHQ webserver. You can reply if you really want to, but no one will be able to read it.
    </td>
</tr>

<!-- <tr>
    <td class="content-block" style="padding-bottom:0;">
        <a href="" class="btn-primary btn-green" itemprop="url">
            Reply
        </a>
    </td>
</tr> -->

</table>
{% endblock %}
