{% extends '../../layout.html' %}

{% block body %}

<table width="100%" cellpadding="0" cellspacing="0">

<tr>
    <td class="content-block title">
        <h2>Activate Your Dental Marketplace Account</h2>
    </td>
</tr>


<tr>
    <td class="content-block content">
        Please activate your account to take advantage of all your Dental Marketplace Account has to offer.
    </td>
</tr>

<tr>
    <td class="content-block" style="padding-bottom:0;">
        <a href="{{ site }}accounts/activate/{{ user.get('activationKey') }}" class="btn-primary btn-green" itemprop="url"
            style="">
            Activate Your Account
        </a>
    </td>
</tr>

</table>
{% endblock %}

