{% extends '../../layout.html' %}

{% block body %}

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
    <td class="content-block">
        <div>
            <img style="width: 25%;" src="http://s3.amazonaws.com/dentalman_uploads/hq-email-sig-logo.png" />
        </div>
    </td>
</tr>

<tr>
    <td class="content-block title">
        <h2>Hi, {{ user.firstName }}</h2>
    </td>
</tr>

<tr>
    <td class="content-block content" style="padding-bottom:0;">
      Welcome to the {{officeName}} Membership plan. Your enrollment is now complete and you are an active member. Please feel free to login to your dashboard to add/edit family members, update your payment information, communicate with your dentist and leave reviews on your experiences at the office. Below you will find your dentist's contact information. If you have indicated that you would like them to contact you then you will receive a call or email within 3 business days.
    </td>
</tr>

<tr>
    <td class="content-block content" style="padding-bottom:0;">
      {{dentistContactInfo}}
    </td>
</tr>

<tr>
    <td class="content-block">
      <a href="{{ site }}accounts/login" class="btn-primary btn-green" itemprop="url">Login</a>
    </td>
</tr>

<tr>
    <td class="content-block">
     {{paymentDetails}}
    </td>
</tr>

</table>
{% endblock %}
